<div class="page-header">
        <h2>{{title}}</h2>
      </div>
      
      <div *ngIf="developers" class="col-sm-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Nr</td>
              <td>Naam</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let developer of developers, let i = index">
              <td>{{i+1}}</td>
              <td>{{developer.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!developers">
          Er zijn geen developers gevonden
      </div>